@model IEnumerable<RifaDeliverySystem.Web.Models.CouponRange>
@using Microsoft.AspNetCore.Mvc.Rendering
@{
    ViewData["Title"] = "Coupon Ranges";
}
@using System.Globalization
@{
    CultureInfo.CurrentCulture = new CultureInfo("es-PY");
    CultureInfo.CurrentUICulture = new CultureInfo("es-PY");
}

<h1>Rangos de Cupones</h1>
@{
    var vendorId = Context.Request.Query["vendorId"].ToString();
    var onlyAvailable = Context.Request.Query["onlyAvailable"].ToString();
    var search = Context.Request.Query["search"].ToString();
}

<div class="mb-3 d-flex gap-2">
    <a class="btn btn-outline-success"
       href="@Url.Action("ExportIndexExcel", "CouponRanges", new { vendorId, onlyAvailable, search })">
        Exportar Excel
    </a>

    <a class="btn btn-outline-danger"
       href="@Url.Action("ExportIndexPdf", "CouponRanges", new { vendorId, onlyAvailable, search })">
        Exportar PDF
    </a>
</div>

<p><a asp-action="Create" class="btn btn-primary">Nuevo Rango</a></p>
<table class="table">
  <thead><tr><th>Vendedor</th><th>Inicio</th><th>Fin</th><th></th></tr></thead>
  <tbody>
        @foreach (var r in Model)
        {
        <tr>
          <td>@r.Vendor.Name</td>
          <td>@r.StartNumber</td>
          <td>@r.EndNumber</td>
          <td>
            <a asp-action="Edit" asp-route-id="@r.Id">Editar</a> |
            <a asp-action="Delete" asp-route-id="@r.Id">Eliminar</a>
          </td>
        </tr>
        }
  </tbody>
</table>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
